.perfume-card {
  border: none;
  border-radius: 8px;
  padding: 30px 16px;
  text-align: center;
      flex-shrink: 0;
  width: 200px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;
  cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.top-badge {
  background-color: #d4af37;
  color: black;
  font-weight: bold;
  padding: 2px 8px;
  position: absolute;
  top: 8px;
  right: 0px;
  z-index: 1;
}
.perfume-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
.perfume-img-container {
  display: flex;
  position: relative;
}
.perfume-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 12px;
border-radius: 5px;
}
#btMMCard{
  position: absolute;
  justify-self: flex-start;
  align-self: start;
  top: 40%; 
  left: 60%;
  height: 100px;
  max-width: 75px;
  border-radius: 8px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}
.perfume-name {
  font-size: 1.2em;
  margin-bottom: 12px;
}
.perfume-gen{
  font-size: 0.9em;
  color: #666;
  margin-bottom: 8px;
  text-transform: capitalize;
}


.perfume-card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}


.perfume-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1em;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  border: none;
  text-decoration: none;
}

.addBtn {
  background-color: #d4af37;
  color: #1a1a1a;
}

.addBtn:hover {
  background-color: #1a1a1a;
  color: #fffbe6;
}

.detailBtn {
  background-color: #1a1a1a;
  color: white;
}

.detailBtn:hover {
  background-color: #d4af37;
  color: #ddd;
}

.bajaBtn {
  background-color: #b72525;
  color: white;
}
.bajaBtn:hover {
  background-color: #b10c0c;
}
.editBtn {
  background-color: #168e46;
  color: white;
}
.editBtn:hover {
  background-color: #164428;
}


